[Unit]
Description=Service for running GSM API for server
After=network.target

[Service]
User=sapot 
Group=sapot 
WorkingDirectory=/home/sapot/YLP-software/GSM-module/GSM-fastapi
ExecStart=/home/sapot/YLP-software/GSM-module/GSM-fastapi/run-api.sh
Restart=always

# Automatic restart logic
RestartSec=3

# Standardizes where logs go
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
