
[Unit]
Description=Service for running GSM API for server
After=network.target

[Service]
User=sapot
Group=sapot

# Tell systemd to execute your bash script
ExecStart=/home/sapot/YLP-software/GSM-module/GSM-fastapi/run-api.sh


# Automatic restart logic
Restart=always
RestartSec=3

# Standardizes where logs go
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
