EXPO_PUBLIC_DEV_HOST=

ANDROID_KEYSTORE_PATH=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=
ANDROID_KEY_PASSWORD=

SENTRY_AUTH_TOKEN=

# LOG_SERVER_PORT=
# EXPO_PUBLIC_LOG_SERVER_PORT=

EXPO_PUBLIC_LOG_TO_LAPTOP=
EXPO_PUBLIC_LOG_TO_FILE=

EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_SERVER_VERIFY_KEY=
APP_VARIANT=
SERVER_CERT=
