SERIAL_PORT=/dev/ttyACM0
SERIAL_BAUD=9600
DB_PATH=mysql+pymysql://sapot:__FROM_SERVER_MYSQL_PASSWORD__@db:3306/sapot
HOST=0.0.0.0
PORT=8001
LOG_LEVEL=INFO
SAPOT_API_URL=https://nginx
GSM_SECRET=__FROM_SERVER_GSM_SECRET__
SMS_BOT_USER_ID=
